# Dependencies
node_modules/

# Build output
dist/
.tsbuildinfo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Electron
out/
/release
/config.json
/.adnify
/system_prompts_leaks-main
/void-main
/void
/.claude
/claude-code-main
/config
/release-download
/.kiro
/.kiro
/.kiro
/ui-ux-pro-max-skill-main

# package-lock.json
package-lock.json